body {
    background: radial-gradient(circle at center, #ffe485, #ff990a);

}


a {
    text-decoration: none;
    color: #1f3b89;

    transition: 0.8s;
}

a:hover {
    background-color: orange;

}

h1 {
    text-align: center;
    color: #1f3b89;
    animation: slideIn 1.5s ease-in-out;

}

div {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: larger;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-100%, -100%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}